{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="text-center" style="margin-bottom: 10vh;">Mon Compte</h1>

        <div class="row">
            <div class="col-12 col-md-6">
                <h2>Vos informations personnelles</h2>
                <p>Gérez vos informations personnelles, vos adresses et vos abonnements.</p>
                <a href="{{ path('account_personal_information') }}" class="btn btn-primary">Mes informations personnelles</a>
                <a href="{{ path('app_address_index') }}" class="btn btn-primary">Mes adresses</a>
            </div>
            <div class="col-12 col-md-6">
                <h2>Vos commandes</h2>
                <p>Suivez vos commandes, vos avoirs et vos bons de réduction.</p>
                <a href="{{ path('account_order') }}" class="btn btn-primary">Mes commandes</a>
                <a href="{{ path('account_credits_discount_voucher') }}" class="btn btn-primary">Mes avoirs et bons de réduction</a>
            </div>
        </div>

    </div>
   
{% endblock %}
