{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
<div class="container">

    <h1 class="text-center">CONDITIONS GENERALES DE VENTE</h1>

    <h4>1. Objet</h4>
    <p>Les Présentes Conditions Générales de Vente ont pour objet de définir les droits et obligations de la société S.G.M.N E-TRADE dans le cadre de la vente de Produits par le biais du Site marchand.</p>

    <p>Le site est la propriété de la société S.G.M.N E-TRADE, dont le siège social est situé 2 route de Beaune à Ecuisses 71210 France (S.A.S. au capital de 445 000 €, TVA intra-communautaire FR60503434284, siret 503 434 284 000 17).</p>

    <p>Toute reproduction, intégrale ou partielle, est systématiquement soumise à l'autorisation des propriétaires. Toutefois, les liaisons du type hypertextes vers le site sont autorisées sans demandes spécifiques.</p>

    <h4>2. Champ d'application</h4>
    <p>Les présentes Conditions Générales de Vente s'appliquent uniquement aux commandes passées sur le site Internet de produits livrés et facturés en France Métropolitaine, DOM-TOM, Belgique et étranger le cas échéant. Les Conditions applicables sont celles en vigueur sur le Site au moment de la passation de la commande. S.G.M.N E-TRADE se réserve la faculté de modifier, sans préavis et à tout moment les présentes Conditions Générales de Vente, les modifications étant alors applicables à toutes commandes postérieures à ces modifications.</p>

    <p>Toute commande de produits par le biais du Site implique l'acceptation sans réserve par le Client des présentes Conditions Générales de Vente. En conséquence, toute commande passée par le Client ne pourra être définitivement validée qu’après acceptation expresse, sans restrictions ni réserves, des présentes Conditions Générales de Vente.</p>

    <p>Conformément aux dispositions de l'article 1369-1 du Code civil, les présentes Conditions Générales de Vente peuvent être conservées par toute personne visitant le Site, par le moyen d'un enregistrement informatique et peuvent par ailleurs être reproduites par le Client, par le moyen de leur impression.</p>

    <p>Pour les Clients non consommateurs, les présentes conditions générales de vente (CGV) constituent le socle de la négociation commerciale. Elles prévalent sur les conditions d'achat. Toute condition contraire opposée par le Client sera, donc, inopposable à S.G.M.N E-TRADE, quel que soit le moment où elle aura pu être portée à sa connaissance. Le fait que S.G.M.N E-TRADE ne se prévale pas à un moment donné de l'une quelconque des présentes Conditions Générales de Vente ne peut être interprété comme valant renonciation à se prévaloir ultérieurement de l'une quelconque desdites conditions.</p>

    <h4>3. Les produits</h4>
    S.G.M.N E-TRADE décrit sur le Site les caractéristiques essentielles des produits et services proposés à la vente.</p>

    <p>Les offres de produits sont valables tant qu’elles figurent sur le Site. Pour des raisons techniques les caractéristiques réelles des produits peuvent parfois légèrement différer, en termes de couleur notamment, de celles visibles sur les photographies présentées sur le Site.</p>

    <p>Les photographies illustrant les produits, n'entrent pas dans le champ contractuel. Si des erreurs s'y sont introduites, en aucun cas, la responsabilité de S.G.M.N E-TRADE ne pourra être engagée. La majorité des produits proposés à ses clients sont disponibles dans notre entrepôt.</p>

    <p>Le Client est invité à prendre connaissance des notices d'emploi ou de toute autre information jointe au produit ou portée sur le produit ou son emballage, notamment les informations liées, aux éventuelles précautions d'emploi, aux conditions et restrictions d'utilisation, à l'entretien.</p>

    <h4>4. La commande</h4>
    <p>Est Client consommateur, au titre des présentes Conditions Générales de Vente, toute personne physique, âgée d'au moins 18 ans, qui agit à des fins qui n'entrent pas dans le cadre de son activité commerciale, industrielle, artisanale ou libérale et disposant de la capacité juridique de passer commande sur le Site.</p>

    <p>En conséquence, Le Client personne physique garantit avoir la pleine capacité juridique pour procéder à la commande sur le Site et adhérer aux présentes Conditions Générales de Vente.</p>

    <p>Sauf disposition relative au droit de rétraction exercé par le Client, toute commande confirmée constitue une vente ferme et définitive. En conséquence, toute demande de modification faite par le Client est soumise à l’acceptation écrite de S.G.M.N E-TRADE. De sa seule initiative, S.G.M.N E-TRADE peut apporter au produit commandé les modifications qui sont liées à l’évolution technique prévues à l’article R132-2-1 du Code de la consommation.</p>

    <p>Conformément aux dispositions de l’article L 122-1 du Code de la consommation, S.G.M.N E-TRADE se réserve le droit de refuser toute Commande pour motif légitime, notamment en cas de problèmes de paiement, problèmes de livraison à raison d’informations incomplètes et/ou imprécises fournies par le Client, de commandes anormalement élevées par rapport aux commandes habituellement passées par les Clients ou de commandes passées de mauvaise foi.</p>

    <p>S.G.M.N E-TRADE se réserve le droit de demander au Client, un justificatif d’identité et de domicile (facture EDF, Télécom...), lorsque le montant ou le contenu de la commande le justifie. Dans ce cas, le Client en sera informé par E-mail dans les meilleurs délais et disposera de la possibilité d’annuler sa commande.</p>

    <h4>5. Le paiement des commandes</h4>
    <p>Dans le but de sécuriser les transactions effectuées sur le site et lutter contre la fraude à la carte bancaire, les informations transmises en rapport avec la commande du Client sont analysées automatiquement afin de déterminer un niveau de fiabilité maximal.</p>

    <p>Afin d’optimiser la sécurité des paiements, nous pouvons procéder à des demandes de justificatifs complémentaires.</p>
    <p>En cas de défaut de réponse, nous nous réservons la possibilité d’annuler la commande.</p>

    <p>C’est pourquoi S.G.M.N E-TRADE est susceptible de demander au Client, par courriel, de justifier son identité et son domicile, ceci dans le but de le protéger de transactions frauduleuses.</p>

    <p>Par l'intermédiaire de ces justificatifs, S.G.M.N E-TRADE garantit une meilleure sécurité, en s'assurant que le Client est bien le propriétaire de la carte bancaire utilisée.</p>

    <p>Dans le cas des commandes par chèque ou virement, un justificatif correspondant aux adresses de la commande et au porteur du chèque pourront également être demandés au Client, toujours afin de garantir une sécurité de transaction maximale.</p>

    <p>La société S.G.M.N E-TRADE se réserve le droit de demander au Client un chèque de banque ou un virement dans le cadre de la validation et le traitement de sa commande, pour s'assurer de la qualité et de la sécurité de la livraison de son colis.</p>
    <p>Paiement par carte bancaire (Carte Bleue, Visa, Eurocard, Mastercard acceptées) :
    <p>Sans préjudice pour le Client personne physique consommateur d’exercer son droit de rétractation ou d’annulation de la commande dans les conditions prévues aux présentes Conditions Générales de Vente, l’ordre de paiement effectué par Carte Bancaire ne pourra être annulé.</p>

    <p>Le compte attaché à la carte bancaire utilisée par le Client, sera débité au moment de la mise en préparation pour expédition de la Commande ou du passage au service atelier de la Commande pour les composants à monter et/ou à installer (si le Client a choisi cette option).</p>
    <p>Le Client garantit à la Sté S.G.M.N E-TRADE qu’il est titulaire de la carte bancaire utilisée aux fins de paiement de la commande et qu’il dispose de fonds suffisants pour couvrir intégralement le règlement de sa commande.</p>

    <p>Les données bancaires du Client, protégées par cryptage SSL, ne transiteront pas, et ne seront pas conservées par les systèmes informatiques de S.G.M.N E-TRADE.</p>

    <p>En cas d’une impossibilité de débiter les sommes dues en règlement de la commande, pour quelque raison que ce soit, le processus d’achat sur le Site sera annulé.</p>

    <p>Conformément à la loi « Informatique et Libertés » susvisée, le Client dispose, à tout moment, d'un droit individuel d'accès, de modification, de rectification et de suppression des données qui le concernent. Il peut l'exercer en adressant un courrier électronique à partir de la rubrique «contact» du Site.</p>
    <p>Paiement par Paypal :</p>
    <p>La validation de la commande par PayPal vaut mandat de payer le prix toutes taxes comprises de la commande.</p>

    <p>Le compte du Client sera débité au moment de la mise en préparation pour expédition de la Commande.</p>

    <h4>6. La livraison</h4>
    <p>Sous réserve des stipulations ci-après, le Client sera livré selon les modalités choisies par lui et compatibles avec la commande. </p>

    <p>Livraison à domicile :</p>
    <p>Le Client sera livré à l'adresse de livraison indiquée par lui lors de l’enregistrement de commande.</p>

    <p>La livraison est effectuée par Colissimo, Chronopost, UPS ou Transporeur selon le choix du Client et la compatibilité du transporteur avec la commande. La livraison s'effectue, par défaut, à une personne, si le Client souhaite une livraison personnalisée - par exemple livraison à deux personnes, monte charge...etc. -  alors le Client doit nous contacter, nous établirons un devis ensemble.</p>

    <p>Elle ne peut intervenir qu'une fois la commande validée et le paiement effectué dans son intégralité.</p>

    <p>Les centres de paiements bancaires éventuellement concernés auront donc donné au préalable leur accord de paiement.</p>

    <p>Le Client sera avisé par S.G.M.N E-TRADE du jour d'expédition de la commande. Il appartient au Client de prendre toute mesure afin que la commande puisse être réceptionnée.</p>

    <p>En cas de commande présentant une adresse de livraison différente de l’adresse de facturation, S.G.M.N E-TRADE dispose de la possibilité de prendre contact avec la personne devant réceptionner la commande.</p>

    <p>Le transporteur procédera à la livraison de la commande au Client lui-même ou au tiers, personne physique désignée par le Client ou à toute personne habilitée, présentant l’autorité pour accepter la livraison de la commande au nom du destinataire (personne se trouvant à la même adresse que le Client ou le Tiers désigné).</p>

    <p>Les frais de port seront à la charge du Client aux conditions définies à l’article 5.</p>
    <p>Lors de la présentation du ou des colis par le transporteur, il convient d'être présent pour permettre une livraison dans les meilleures conditions possibles. Le transport n'inclut pas la livraison aux étages qui reste à l'approbation du chauffeur.</p>

    <p>En cas d’échec de la première tentative de livraison, le Client devra dans les 48 heures prendre contact avec la Sté S.G.M.N E-TRADE ou son transporteur pour convenir d’une date de retrait de la commande dans les locaux du Transporteur aux frais du Client.</p>

    <p>Passé ce délai, la Sté S.G.M.N E-TRADE sera en droit d’annuler la commande du fait du Client. Les produits commandés, non livrés et non retirés feront l’objet d’un retour pour défaut de livraison imputable au Client.</p>

    <p>Les coûts liés à l’échec de la livraison du fait du Client seront à la charge de ce dernier à savoir : Les frais de retour du ou des produits non livrés chez le Transporteur équivalent au même prix payé des frais de port sur la Commande expédiée</p>

    <p>En cas d’annulation de la commande du fait du Client, la Sté S.G.M.N E-TRADE procédera, dans un délai de 14 (quatorze) jours à compter de l’annulation au remboursement du prix de la commande déduction faite des frais liés à l’échec de la livraison susvisés, sauf mise en œuvre du droit de rétractation par le Client.</p>

    <p>La Livraison est effectuée contre signature du Client ou du tiers désigné ou habilité, portée sur le récépissé de livraison et éventuellement sur présentation des pièces nécessaires à l’identification du Client ou du destinataire désigné (carte d’identité notamment).</p>

    <p>Relais Colis : La livraison en Relais Colis est proposée pour tout envoi en France métropolitaine (Monaco et Corse compris). Les colis en instance en point relais sont mis à disposition pour retrait pendant une durée de 14 jours aux horaires du relais sollicité.</p>
    <p>Délais de traitement de commande avant expédition :</p>
    <p>Lorsque tous les articles commandés sont disponibles en stock, le délai de traitement logistique d'une commande (validation, paiement et préparation) avant expédition est d'environ 2 jours ouvrés pour toute commande passée avant 12h00.</p>

    <p>Lorsqu’un ou plusieurs articles de la commande sont en cours d’approvisionnement, le délai de traitement logistique de la commande pour son expédition démarrera dès que la commande sera complète.</p>

    <p>Sauf stipulations particulières fixées lors de la commande et acceptées par le Client lors de la validation de la commande, les Produits sont livrés au client dans les délais susvisés nécessaires au traitement et à l’expédition de la commande.</p>

    <p>En toute hypothèse, conformément aux dispositions de l’article L 114-1 du Code de la consommation, en cas de retard de livraison de plus de 7 jours par rapport au délai de livraison indiqué à la conclusion du contrat, le Client pourra annuler la commande, par lettre recommandée avec demande d’avis de réception, sauf cas de force majeure.</p>

    <p>Les dispositions de l’article L114-1 du Code de la Consommation ne s’appliquent pas en cas de retard de livraison imputable au Client et notamment dans le cas où le Client ou le tiers désigné par lui ne serait pas disponible pour réceptionner la livraison ou dans le cas où le Client ne procèderait pas au retrait de la commande dans le délai de mise à disposition du Produit.</p>

    <p>De même les dispositions de l’article L114-1 du Code de la Consommation ne s’appliquent pas en cas de retard lié à un événement insurmontable et imprévisible dû à un tiers au Contrat qui tendrait à entraver, à retarder ou à empêcher la livraison au Client des produits commandés.</p>

    <p>Réception de la commande/Transfert de risques :</p>
    <p>Le Transfert des risques interviendra à la livraison, au moment de la remise des produits au Client qui assumera seul, après cette remise tous les risques (notamment de perte, de vol ou de détérioration) des produits livrés.</p>

    <p>Lors de la livraison de la commande, le Client ou le tiers désigné ou habilité, est tenu de vérifier et de contrôler avec précision l'état et la conformité des Produits livrés à la commande.</p>

    <p>Si, lors de la livraison, l'aspect extérieur du colis apparaît abimé ou endommagé, le Client ou le destinataire des Produits procédera à son ouverture en présence du transporteur ou opérateur du Point Relais, afin de vérifier l'état du ou des Produit(s).</p>

    <p>En cas d'anomalie constatée (Produits manquants, abîmés ou cassés notamment), le Client devra refuser la réception du Produit et indiquer sur le bon de livraison « refus pour avaries ».</p>

    <p>En cas de non-conformité de Produits à la commande constatée lors de la livraison, afin de permettre le traitement de la réclamation du Client dans les meilleurs délais et conditions, le Client devra émettre toutes les réserves détaillées utiles sur le récépissé de livraison.</p>

    <p>Toute réclamation relative à un défaut apparent ou à l’endommagement lors de la livraison d'un Produit, devra, pour être valable vis-à-vis du transporteur, être adressée sous 48 heures à compter de la réception des marchandises, par e-mail ou courrier recommandé adressé au Service Client du Site.</p>

    <p>Dans les cas d’un refus de la livraison pour des raisons susvisées, le Client pourra solliciter une nouvelle livraison ou l’annulation de sa commande auprès de S.G.M.N E-TRADE.</p>

    <h4>7. Le droit de rétractation</h4>
    <p>Conformément à l'article L.121-21 du code de la consommation, le consommateur dispose d'un délai de rétractation de 14 (quatorze) jours pour exercer son droit de rétractation. Ce délai court à compter de la date à laquelle le Client, ou un tiers autre que le transporteur et désigné par lui, prend physiquement possession du bien.</p>

    <p>Pour les commandes portant sur plusieurs biens livrés séparément, le délai de rétractation court à compter du jour où le Client, ou un tiers autre que le transporteur et désigné par lui, prend physiquement possession du dernier bien.</p>

    <p>Le consommateur informe S.G.M.N E-TRADE de sa décision de rétractation en lui adressant, avant l'expiration du délai prévu à l'article L. 121-21, le formulaire de rétractation fournit par S.G.M.N E-TRADE lors de la confirmation de commande et disponible sur le site ou toute autre déclaration, dénuée d'ambiguïté, exprimant sa volonté de se rétracter.</p>

    <p>Afin de faciliter l’exercice de son droit de rétractation, le Client pourra se connecter sur son compte client pour remplir un formulaire de rétractation en ligne, ou contacter au préalable le Service Clientèle.</p>

    <p>Le Client recevra alors immédiatement par E-mail un accusé de réception de sa demande de rétractation. Dans les jours suivant ce contact, un bon de retour lui sera envoyé par e-mail, à joindre impérativement au produit retourné.</p>

    <p>Restriction au droit de Rétractation :</p>
    <p>Conformément à l’Article. L. 121-21-8 du Code de la consommation, le droit de rétractation ne peut être exercé pour les contrats :</p>

    <p>« 1° De fourniture de biens confectionnés selon les spécifications du consommateur ou nettement personnalisés (en particulier les ordinateurs montés selon les besoins du Client)</p>
    <p>« 2° De fourniture de biens susceptibles de se détériorer ou de se périmer rapidement ;</p>
    <p>« 3° De fourniture de biens qui ont été descellés par le consommateur après la livraison et qui ne peuvent être renvoyés pour des raisons d'hygiène ou de protection de la santé (cette information est présente sur les fiches des produits concernés).</p>
    <p>« 4° De fourniture d'enregistrements audio ou vidéo ou de logiciels informatiques lorsqu'ils ont été descellés par le consommateur après la livraison ;</p>
    <p>« 5° De fourniture d'un contenu numérique non fourni sur un support matériel dont l'exécution a commencé après accord préalable exprès du consommateur et renoncement exprès à son droit de rétractation.</p>

    <p>Modalités de retour :
    <p>Le Client personne physique consommateur renvoie ou restitue les biens à S.G.M.N E-TRADE, sans retard excessif et, au plus tard, dans les quatorze jours suivant la communication de sa décision de se rétracter conformément à l'article L. 121-21-3 du Code de la consommation.</p>

    <p>Les frais de renvoi des biens sont à la charge du Client qui choisit librement le mode de transport pour retourner son ou ses Produits à S.G.M.N E-TRADE.</p>

    <p>Le Transfert des risques sera opéré lors de la réception du ou des Produits dans les entrepôts de S.G.M.N E-TRADE après vérification de leur état. En fonction du mode de transport choisi, le Client est responsable des modes d'emballage et de conditionnement des Produits de sorte que ceux-ci puissent voyager sans risque de dégradation.</p>

    <p>Le client est informé du coût moyen prévisionnel (tarif non contractuel, se renseigner auprès du transporteur pour une tarification précise) de renvoi de sa commande, lorsque celle-ci de part sa nature ne peut être renvoyée par les services de la Poste (produits volumineux).</p>

    <p>Si le Client utilise son droit de rétractation, le retour du Produit doit s'effectuer dans son emballage d'origine et être accompagné de tous les accessoires et notices éventuels. Le produit retourné doit en outre être en parfait état. La responsabilité du consommateur est engagée en cas de manipulations autres que celles nécessaires pour établir la nature, les caractéristiques et le bon fonctionnement du bien.</p>
    <p>Tout retour de Produits, incomplets, abîmés, endommagés autorisera la Sté S.G.M.N E-TRADE à solliciter du Client réparation de son entier préjudice.</p>

    <p>Les produits devront être retournés à l’adresse suivante :</p>
    <p>S.G.M.N E-TRADE</p>
    <p>2 Route de Beaune</p>
    <p>71210 Ecuisses France</p>

    <p>Remboursement :</p>
    <p>Le remboursement du prix des Produits ainsi que des frais de transport ou frais de logistique en emport sur place supportés par le Client lors de la commande initiale (dans la limite du tarif de livraison standard proposé sur le panier du client), sera effectué sous 14 jours à compter de la date d’expression de la volonté de rétractation de la part du Client.</p>

    <p>Toutefois, S.G.M.N E-TRADE peut différer le remboursement jusqu’à réception effective des biens ou jusqu’à ce que le Client ait fourni une preuve d’expédition des biens, la date retenue étant celle du premier de ces faits. Le remboursement sera réalisé avec le même mode de règlement utilisé sur la commande initiale.</p>

    <p>Les frais de retour demeurent à la charge du Client. En cas de retour partiel de la commande, les frais d’expédition ne seront pas remboursés.</p>

    <h4>8. Prix</h4>
    <p>Le prix est exprimé en euros. Le prix indiqué sur les fiches produit ne comprend pas le transport.</p>

    <p>Le prix indiqué dans la confirmation de commande est le prix définitif, exprimé toutes taxes comprises et incluant la TVA pour la France et les pays de la CEE . Ce prix comprend le prix des produits, les frais de manutention, d'emballage et de conservation des produits, les frais de transport et de mise en service.</p>

    <h4>9. Litiges</h4>
    <p>Le présent contrat est soumis au droit français. S.G.M.N E-TRADE ne peut être tenu pour responsable des dommages de toute nature, tant matériels qu'immatériels ou corporels, qui pourraient résulter d'un mauvais fonctionnement ou de la mauvaise utilisation des produits commercialisés.</p>

    <p>Il en est de même pour les éventuelles modifications des produits résultant des fabricants. La responsabilité de S.G.M.N E-TRADE sera, en tout état de cause, limitée au montant de la commande et ne saurait être mise en cause pour de simples erreurs ou omissions qui auraient pu subsister malgré toutes les précautions prises dans la présentation des produits.</p>
    <p>En cas de difficultés dans l'application du présent contrat, l'acheteur a la possibilité, avant toute action en justice, de rechercher une solution amiable notamment avec l'aide : d'une association professionnelle de la branche , d'une association de consommateurs ou de tout autre conseil de son choix.</p>

    <p>Il est rappelé que la recherche de la solution amiable n'interrompt pas le " bref délai " de la garantie légale, ni la durée de la garantie contractuelle. Il est rappelé qu'en règle générale et sous réserve de l'appréciation des Tribunaux, le respect des dispositions du présent contrat relatives à la garantie contractuelle suppose que l'acheteur honore ses engagements financiers envers le vendeur.</p>

    <p>Les réclamations ou contestations seront toujours reçues avec bienveillance attentive, la bonne foi étant toujours présumée chez celui qui prend la peine d'exposer ses situations.</p>
    <p>A défaut pour les professionnels, le Tribunal de Commerce de Chalon sur Saône est seul compétent, quels que soient le lieu de livraison et le mode de paiement acceptés.</p>

    <h4>10. Garantie</h4>
    <p>En ce qui concerne l'alimentaire les dates de consommation indiquées doivent être respectées par le client. Dans tous les cas S.G.M.N E-TRADE ne pourra être tenu pour responsable pour non respect des dispositions réglementaires et législatives en vigueur dans le pays de réception, la responsabilité de S.G.M.N E-TRADE est systématiquement limitée a la valeur du produit mis en cause, valeur a sa date de vente et ce sans possibilités de recours envers la marque ou la société productrice du produit.</p>

    <p>En toute hypothèse, le client bénéficie de la garantie légale d'éviction et des vices cachés (Art.1625 et suivants du Code Civil). A la condition que l'acheteur fasse la preuve du défaut caché, le vendeur doit légalement en réparer toutes les conséquences (art.1641 et suivants du code civil) ; si l'acheteur s'adresse aux tribunaux, il doit le faire dans un " bref délai " à compter de la découverte du défaut caché (art.1648 du code civil). Vous pouvez contacter le service clients : 5 jours sur 7 (du lundi au vendredi inclus) au N° de tél : 03 85 78 99 50 par mail à info@nomblot.biz (réponse dans la journée).</p>

    <p>Nota : Les produits électriques (220V) - type armoires à vin/climatiseurs de cave - vendus hors France métropolitaine ( y compris en Corse) - bénéficient de la garantie constructeur 2 ans pièces.</p>

    <h4>11. Informations légales</h4>
    <p>Le renseignement des informations nominatives collectées aux fins de la vente à distance est obligatoire, ces informations étant indispensables pour le traitement et l'acheminement des commandes, l'établissement des factures et contrats de garantie. Le défaut de renseignement entraîne la non validation de la commande. Conformément à la loi " Informatique et Libertés ", le traitement des informations nominatives relatives aux clients a fait l'objet d'une déclaration auprès de la Commission Nationale de l'Informatique et des Libertés (CNIL). Le client dispose (article 34 de la loi du 6 janvier 1978) d'un droit d'accès, de modification, de rectification et de suppression des données qui le concernent, qu'il peut exercer auprès de S.G.M.N E-TRADE.</p>

    <h4>12. Identification</h4>
    <h5>Raison sociale : S.G.M.N E-TRADE S.A.S au capital de 445.000 €.</h5>

    <h5>Responsable : Marc Nomblot</h5>

    <h5>Adresse :</h5>
    <h5>2, Route de Beaune</h5>
    <h5>71210 Ecuisses France</h5>

    <h5>Téléphone : 08 92 16 16 71 (0.34€/min)</h5>
    <h5>Fax : +33 (0)3 85 78 91 94</h5>
    <h5>E-mail : info@le-specialiste-brumisation.com</h5>
    <h5>Site Web : www.le-specialiste-brumisation.com</h5>

    <h5>Horaires d’ouverture : De 9h à 12h et de 14h à 18h</h5>

    <h5>TVA intra-communautaire : FR60503434284</h5>
    <h5>Siret : 503 434 284 000 17</h5>
    <h5>Code APE/NAF : 4791B</h5>


</div>
{% endblock %}