{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
<div class="container">

    <h1 class="text-center">MENTIONS LÉGALES</h1>

    <h3>Editeur</h3>
        <p>Raison sociale : S.G.M.N E-TRADE au capital de 445.000€</p>
        <p>Siège social : 2, Route de Beaune 71210 Ecuisses - France</p>
        <p>TVA intra-communautaire : FR60503434284</p>
        <p>Siret : 503 434 284 000 17</p>

    <h3>Edition et Publication</h3>
        <p>Contact : Marc Nomblot</p>
        <p>Adresse postale : 2, Route de Beaune 71210 Ecuisses - France</p>
        <p>Téléphone : +33 (0)3 85 78 99 50</p>
        <p>E-mail : info@le-specialiste-brumisation.com</p>

    <h3>Réalisation technique</h3>
        <p>Raison sociale : S.G.M.N.E-TRADE</p>
        <p>Site internet : www.boutiquesInternet.fr</p>

        <p>Création de sites Internet de qualité</p>

    <h3>Hébergeur</h3>
        <p>Raison sociale : 1&1</p>
        <p>7, Place de la gare</p>
        <p>57200 SARREGUEMINES</p>
        <p>FRANCE</p>
        <p>Tél : 0970 808 911</p>

    <h3>Cookies</h3>
        <p>Lors de la consultation du site, des informations relatives à votre navigation sont susceptibles d'être enregistrées dans des fichiers "Cookies" installés sur votre terminal (ordinateur, tablette, smartphone, etc.). Ces cookies sont émis par nous-mêmes dans le but de faciliter votre navigation sur notre site.</p>

        <p>Nous émettons ces cookies afin de servir au mieux nos clients, d’améliorer la qualité de nos services, d'adapter la présentation de notre site aux préférences d'affichage de votre terminal… Vous pouvez exprimer et modifier à tout moment vos souhaits en matière de cookies, par les moyens décrits ci-dessous.</p>

        <h5>Internet explorer</h5>

        <p>Menu « Outils » => « Options Internet » => « Confidentialité » => sélectionner vos préférences => OK</p>

        <h5>Mozilla Firefox</h5>

        <p>Menu « Outils » => « Options » => « Vie privée » => « Historique » => « Règles de Conversation » => « utiliser les paramètres personnalisés pour l’historique » => sélectionner vos préférences => OK</p>

        <h5>Google Chrome</h5>

        <p>Icône « personnaliser et contrôler » => « Paramètres » => « afficher les paramètres avancés » => « confidentialité » => « paramètres de contenus » => sélectionner vos préférences => OK</p>

        <h5>Safari</h5>

        <p>« Safari » => « Préférences » => « Confidentialité» sélectionner vos préférences => OK</p>

</div>
{% endblock %}