{% extends 'baseAdmin.html.twig' %}

{% block title %}Modifier le mot de passe{% endblock %}

{% block body %}
    <h1>Modifier le mot de passe</h1>

    {{ form_start(form, { 'action': path('app_admin_change_password', {'id': app.user.id}) }) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Modifier</button>
    {{ form_end(form) }}
{% endblock %}