.required, .mainImage {
    font-weight: bold;
    margin-top: 2vh;
}
.existingImage-container{
    margin-top: 1vh;
}
.add-image{
    display: block;
    margin-top: 2vh;
}
.btn-danger{
    margin: 3vh;
}
.btn-success{
    margin-bottom: 5vh;
}